menu "App Config"

  comment "Main Application configuration"

  menu "File System"

    config APP_FILE_SYSTEM_PARTITION_LABEL
      string "File System Partition Label"
      default "storage"
      help
        Label of the partition to be used for the file system.

  endmenu

  menu "Non-Volatile Storage"

    config APP_NVS_PARTITION_LABEL
      string "NVS Partition Label"
      default "nvs"
      help
        Label of the partition to be used for the NVS.

    config APP_NVS_NAMESPACE
      string "NVS Namespace"
      default "storage"
      help
        Namespace for the NVS.

    config APP_NVS_WIFI_CREDENTIALS_KEY
      string "NVS WiFi Credentials Key"
      default "app_wifi_cred"
      help
        Key for the NVS to store the WiFi credentials.

    config APP_NVS_AP_CREDENTIALS_KEY
      string "NVS AP Credentials Key"
      default "app_ap_cred"
      help
        Key for the NVS to store the AP credentials.

  endmenu

  menu "Network"

    config APP_AP_SSID_PREFIX
      string "AP SSID Prefix"
      default "lightbar"
      help
        Prefix for the AP SSID.

    config APP_AP_PASSWORD
      string "AP Password"
      default "lightbar"
      help
        Password for the AP.

    config APP_AP_CHANNEL
      int "AP Channel"
      default 1
      help
        Channel for the AP.

    config APP_AP_MAX_CONNECTIONS
      int "AP Max Connections"
      default 4
      help
        Maximum number of connections for the AP.

    config APP_DHCP_IP_START
      string "DHCP IP Start"
      default "1.2.3.4"
      help
        Start IP for DHCP.

    config APP_STA_MAXIMUM_RETRY
      int "STA Maximum Retry"
      default 5
      help
        Maximum number of retries for the STA.

  endmenu

endmenu
